{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/institut.css' %}">
{% endblock %}
{% block content %}
        <section class="institut">
            <div class="container">
                <div id="aboutInstitut" class="institutInner">
                    <div class="slideImg"><img src="{{course.image.url}}" alt=""></div>
                    <h2>{{course.title}}</h2>
                    <h5>{{course.description}}</h5>
                    {{course.content|safe}}
                </div>
            </div>
        </section>

{% endblock %}
