{% extends 'base.html' %}

{% block content %}
  <h2>Список документов</h2>
  {% if documents %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{{ document.pdf_file.url }}" target="_blank">{{ document.title }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>В данный момент нет загруженных документов.</p>
  {% endif %}
{% endblock %}
